.menu-principal{
  margin-top: 3.5%;
  margin-bottom: 50px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 20px;
  border: 2px solid gray;
}
.borde{
  border-bottom: 2px solid gray;
}
.letra-blanca{
  color: white;
}
.letra-blanca button > a{
  color: white;
}
.botones{
  position: relative;
  right: 25px;
  bottom: 20px;
  overflow: auto;
}
#imagen-notas{
  height: 100px;
  width: 110px;
  object-fit: fill;
}
#imagen-postulaciones{
  height: 100px;
}
#imagen-gestion{
  height: 100px;
}
#imagen-cursos{
  height: 100px;
}
#imagen-tareas{
  height: 90px;
}
.modificar-nivel{
  border: none;
}
.rubrica{
  margin-top: 4%;
}